.placement {
  height: 390px;
  width: 100%;
  background-color: #b8abce;
  margin-top: 20px;
}

.placement-heading {
  font-family: 'Comfortaa';
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding: 4px;
  margin-left: 3px;
}

.placement-heading1 {
  font-family: 'Comfortaa';
  font-size: 30px;
  font-weight: bold;
  padding: 4px;
  margin-left: 3px;
  text-align: center;
}

.placement-subheading {
  font-family: 'Comfortaa';
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
}

.placement-para {
  font-family: 'Comfortaa';
  font-size: 15px;
  font-weight: bold;
  color: #d7d3d7;
  padding: 4px;
}

.line {
  height: 10px;
  width: 110px;
  background-color: #0a31cb;
  border-radius: 5px;
}

.question {
  height: 45px;
  width: 80%;
  background-color: #d7d3d7;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Comfortaa';
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.questions-option-para {
  height: 50px;
  width: 105px;
  font-family: 'Comfortaa';
  color: grey;
}

.questions-option-para:hover {
  color: blue;
  background-color: aliceblue;
}

.questions-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar {
  margin: 10px;
  padding: 60px;
}
